.content {
  margin: 0 auto;
}

.content__button_more {
  padding: 0;
  height: 35px;
  width: 320px;
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  margin: 50px auto 80px;

  border: none;
  border-radius: 6px;
  background-color: #F9F9F9;
}

.content__button_more:hover {
  opacity: 0.8;
  cursor: pointer;
}

.content__additional-block {
  height: 140px;
  max-width: 1280px;
  margin-top: 100px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content__additional-block_margin_zero {
  margin: 0;
}

.content__additional-block_result_empty {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgb(0, 0, 0);
}