.about-project {
  color: black;
  max-width: 1280px;
  max-height: 608px;
  padding: 111px 70px;
  box-sizing: border-box;
}

.about-project * {
  margin: 0;
}

.about-project__title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}

.about-project__line {
  height: 1px;
  border: none;
  margin: 23px 0 70px;
  background-color: #000;
}

.about-project__description {
  display: grid;
  gap: 26px 40px;
  margin-bottom: 110px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.about-project__description_title {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__description_info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
}

.about-project__table-grid {
  display: grid;
  row-gap: 14px;
  grid-template-rows: 36px 17px;
  grid-template-columns: 1fr 4fr;
}

.about-project__timeline {
  font-size: 14px;
  font-weight: 400;
  padding: 9px auto;
  text-align: center;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__timeline_green {
  background-color: #2BE080;
}

.about-project__timeline_gray {
  background-color: #F2F2F2;
}

.about-project__direction {
  font-size: 14px;
  font-weight: 500;
  color: #A0A0A0;
  text-align: center;
  line-height: 1.21429;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__description {
    gap: 22px 30px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    padding: 70px 18px 59px;
  }

  .about-project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__line {
    margin: 28px 0 60px;
  }

  .about-project__description {
    gap: 16px;
    margin-bottom: 60px;
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
  }

  .about-project__description_title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__description_title:nth-of-type(2) {
    margin-top: calc(56px - 16px);
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .about-project__description_info {
    font-size: 11px;
    line-height: 1.45455;
  }

  .about-project__timeline {
    font-size: 11px;
  }

  .about-project__table-grid {
    row-gap: 10px;
  }

  .about-project__direction {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
  }
}