.elements {
  display: grid;
  margin: 0 auto;
  gap: 37px 20px;
  max-width: 1140px;
  padding: 70px 70px 10px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .elements {
    gap: 30px 31px;
    padding: 70px 30px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .elements {
    gap: 34px;
    padding: 40px 10px 10px;
    grid-template-columns: 1fr;
  }
}