.profile {
  min-width: 410px;
  color: #000;
  max-width: 1280px;
  margin: 74px auto 70px;
  background-color: #fff;
}

.profile__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 123px;
}

.profile__form {
  min-width: 410px;
}

.profile__form-container {
  display: flex;
}

.profile__form-text {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__form-input {
  padding: 0;
  width: 100%;
  border: none;
  border: none;
  background: transparent;

  text-align: right;
  font-weight: 400;
}

.profile__form-input::placeholder {
  color: #505050;
}

.profile__underline {
  height: 1px;
  border: none;
  margin: 16px 0 17px;
  background-color: #E8E8E8;
}

.profile__container {
  font-size: 13px;
  font-weight: 400;

  display: flex;
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
}

.profile__saved-button_margin_less {
  margin-top: 221px;
}

.profile__button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.profile__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__edit-button {
  list-style: none;
  align-self: center;
  margin-bottom: 17px;
  text-decoration: none;
}

.profile__signout-button {
  text-decoration: none;
  color: #FF3055;
}

.profile__button_error-text {
  font-size: 11px;
  font-weight: 400;
  color: #FF004C;
  text-align: center;
  margin-bottom: 20px;
}

.profile__saved-button {
  color: #fff;
  width: 320px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #3456F3;
}

.profile__saved-button:hover {
  opacity: 0.8;
}

.profile__saved-button_inactive {
  color: #C2C2C2;
  background: #F8F8F8;
}

.profile__saved-button_inactive:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto 70px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__saved-button_margin_less {
    margin-top: 210px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    min-width: 0;
    width: calc(100% - 30px + 30px);
    margin: 0 auto;
    padding: 70px 30px 40px;
    box-sizing: border-box;
  }

  .profile__form {
    min-width: 0px;
  }
  

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__saved-button_margin_less {
    margin-top: 380px;
  }

  .profile__container {
    font-size: 12px;
  }

  .profile__saved-button {
    width: 260px;
  }
}