.elements-block {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.elements-block * {
  margin: 0;
}

.elements-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2.7 / 1.51;
  /* задаём соотношение сторон */
  transition: all 0.5s ease;
}

.elements-block__image:hover {
  cursor: pointer;
  transform: scale(1);
}

.elements-block__description {
  display: flex;
  margin: 10px 0 13px;
  align-items: center;
  justify-content: space-between;
}

.elements-block__name {
  /* эти свойства позволяют переносить текст и заканчивать его многоточием, если не помещается */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  width: calc(100% - 24px - 20px);
  height: 32px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.elements-block__like-button {
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #F9F9F9;

  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-block__like-button:hover {
  cursor: pointer;
}

.elements-block__underline {
  height: 1px;
  border: none;
  margin-bottom: 6px;
  background-color: #E8E8E8;
}

.elements-block__film-duration {
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.elements-block__like-icon {
  width: 10px;
  height: 8.5px;
  background: url(../../../images/inactive-like.svg);
}

.elements-block__like-icon.active {
  background: url(../../../images/active-like.svg);
}

/* специально не по кнопке наводка, мне кажется, так лучше */
.elements-block__like-icon.active:hover {
  width: 9px;
  height: 9px;
  background: url(../../../images/cross.svg) no-repeat;
}

@media screen and (max-width: 550px) {
  .elements-block__film-duration {
    font-size: 10px;
  }
}